#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form{
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
}

input{
  background: #f7f7f7;
  height: 25px;
  border-radius: 7px;
  
}

.forms-cars{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input input{
 width: 79%;
}

.submit-form{
  width: 87%;
  background: #5fbab0;
  padding: 5px;
}

.submit-form2{
  width: 87%;
  color: #5fbab0;
  background: rgba(136, 136, 136, 0.492);
  padding: 5px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-size: 20px;
}

.button2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-size: 20px;
}

.card{
  width: 300px;
  height: 230px;
  border-radius: 5px;
  padding: 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-grid{
  display: flex;
  flex-wrap: wrap;
    gap: 20px;
}

.name{
display: flex;
}

.name h3{
  width: 100%;
  margin: 0;
  padding: 2px 5px;
  border-bottom: 1px solid grey;
  display: flex;

}

.container-data{
  background: #f7f7f7;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.container-data p{
  background: #f7f7f7;
  margin: 0;
  display: flex;
}

.form{
display: flex;
align-items: center;
justify-content: center;
}

.container-edit-delete{
  display: flex;
  justify-content: flex-end;
}

.edit-delete{
display: flex;
background: #ffffff;
}

.fa-trash-can{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fa-pen-to-square{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: whitesmoke;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.subtitle{
  color: #888;
  font-size: 12px;
}

.card-grid{
  margin: 15px 0;
  display: flex;
  justify-content: center;
}